<script src="app/controllers/folha_trabalho.js"></script>
<div id="folha_trabalho" class="pagina">
    <div class="row">
        <div class="large-12 columns" style="margin-top: 1em;">
            <textarea placeholder="Anotações" style="height: 8em;"></textarea>
        </div>
    </div>
    <div id="folha_trabalho" class="row">
        <div id="my_tabbar" class="large-12 columns" style="height: 40em;"></div>
        <a href="#" onclick="nova_aba()" class="button square">Nova Área</a>
        <a href='#' onclick="nova_folha()" class="button square">Nova Folha</a>
    </div>
</div>
