<aside class="right-off-canvas-menu">
    <ul class="off-canvas-list group">
        <li>
            <label>Título</label>
        </li>
        <li><a href="#" onclick="muda_pagina('folha_trabalho', 'Folha de Trabalho')">Folha de Trabalho</a></li>
        <li><a href="#" onclick="muda_pagina('procedimentos_auditoria_empresa', 'Procedimentos de Auditoria da Empresa')">Procedimentos de Auditoria da Empresa</a></li>
        <li><a href="#" onclick="muda_pagina('comparador_fiscal_contabil', 'Comparador Fiscal e Contabil')">Comparador Fiscal e Contabil</a></li>
        <li><a href="#" onclick="muda_pagina('visualizar_diarios', 'Visualizar Diários')">Visualizar Diários</a></li>
        <li><a href="#" onclick="muda_pagina('visualizar_balancetes', 'Visualizar Balancetes')">Visualizar Balancetes</a></li>
    </ul>
</aside>
