<nav class="tab-bar">
    <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
    </section>
    <section class="middle tab-bar-section">
        <div class="large-1 columns" style="margin-top: 0.8em;">
            <label for="right-label" class="right">Usuário ></label>
        </div>
        <div class="large-2 columns left" style="margin-top: 0.3em;">
            <input type="text" id="right-label" placeholder="">
        </div>
        <h1 id="titulo_tela" class="title" style="color: rgba(255, 255, 255, 0.7);">Caderno de Notas</h1>
    </section>
    <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
    </section>
</nav>
